{% extends 'base.html' %}

{% load static %}

{% block title %}
	Список анкет
{% endblock %}

{% block content %}
<div class="mx-auto col-lg-8">
	<h1>Список анкет</h1>
	<form method="post">
		{% if messages %}
			{% for msg in messages %}
				<div class="alert {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} alert-success {% else %} alert-danger {% endif %} mt-3">
					{{ msg }}
				</div>
				{% endfor %}
		{% endif %}
		{% csrf_token %}
		<table class="table table-striped">
			<thead>
			<tr>
				<th>ID</th>
				<th>ФИО</th>
        <th>Статус</th>
        <th>Модератор</th>
        <th>Дата изменения</th>
			</tr>
			</thead>
			<tbody>
			{% for q in questionaries %}
			<tr>
				<!-- <td><input type="checkbox" name="selected_technologies" value="{{ q.id }}"></td> -->
				<td>{{ q.id }}</td>
				<td><a href="{% url 'questionary:validate_by_id' user_id=q.id %}">{{ q.name }} {{ q.middle_name }} {{ q.surname }}</a></td>
        <td>{% if q.form_status == 2 %} Одобрено {% elif q.form_status == 1 %} В процессе {% else %} Отклонено {% endif %}</td>
				<td> {% if q.moderator_id %}  {{ q.moderator_id }} {% else %} Не назначен {% endif %}</td>
                <td>{{ q.updated_at }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class="d-flex">

		</div>
	</form>
		<ul class="pagination mt-3">
			<li class="page-item"><a href="{% url 'questionary:list' page=1 %}" class="page-link"><span aria-hidden="true">&laquo;</span></a></li>
			{% if prev_page != 0 %}
				<li class="page-item"><a href="{% url 'questionary:list' page=prev_page %}" class="page-link">{{ prev_page }}</a></li>
			{% endif %}
			<li class="page-item active"><a href="#" class="page-link">{{ current_page }}</a></li>
			{% if next_page != 0 %}
				<li class="page-item"><a href="{% url 'questionary:list' page=next_page %}" class="page-link">{{ next_page }} </a></li>
			{% endif %}
			<li class="page-item"><a href="{% url 'questionary:list' page=last_page %}" class="page-link"><span aria-hidden="true">&raquo;</span></a></li>
			<p class="text-muted ms-3">Всего результатов: {{ total }}</p>
	</ul>
</div>
{% endblock %}
