{% extends "base.html" %}

{% block title %}
 Создание технологии
{% endblock title %}

{% block content %}
<div class="m-auto col-lg-12">
	<h1 class="text-center">Изменить технологию {{ tech_id }}</h1>
	<form action="{% url 'technologies:edit' tech_id=tech.id %}" method="post" class="mx-auto d-flex flex-column align-items-center">
		{% csrf_token %}
		{% for field in form %}
		<div class="form-floating col-lg-4 mx-3">
			<input name="{{ field.html_name }}"
			       maxlength="{{ field.max_length }}"
			       id="{{ field.id_for_label }}"
			       class="form-control"
			       type="{{ field.field.widget.input_type }}"
			       value="{{ field.value }}"
			       {% if field.field.required %}
			       required
			       {% endif %}/>
			<label for="{{ field.auto_id }}">
				{{ field.label }}
			</label>
		</div>
		{% endfor %}
		<button type="submit" class="btn btn-primary mt-3" value="save">Сохранить</button>
		<button type="submit" class="btn btn-danger" onclick="confirm('Вы уверены, что хотите удалить эту технологию?')">Удалить</button>

		{% if messages %}
			{% for msg in messages %}
				<div class="alert {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} alert-success {% else %} alert-danger {% endif %} mt-3">
						{{ msg }}
				</div>
			{% endfor %}
		{% endif %}
	</form>
</div>
{% endblock %}
